/* --------------------  color  -------------------- */
.color-primary {
  color: #444868;
}
.color-secondary {
  color: #32354d;
}
.color-sub {
  color: #78838f;
}
.color-white {
  color: #ffffff;
}
.color-blue {
  color: #1c60ff;
}
/* --------------------  spinner  -------------------- */
.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner-dim {
  background-color: rgba(50, 53, 77, 0.12);
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.spinner-border {
  width: 3rem;
  height: 3rem;
}
/* --------------------  popover  -------------------- */
.popover {
  font-family: "pretendard";
  padding: 8px;
  --bs-popover-max-width: 270px;
  --bs-popover-header-font-size: 14px;
  --bs-popover-font-size: 14px;
  --bs-popover-header-bg: transparent;
  --bs-popover-border-color: rgba(50, 53, 77, 0.95);
  --bs-popover-bg: rgba(50, 53, 77, 0.95);
  --bs-popover-border-radius: 4px;
  --bs-popover-header-color: #ffffff;
  --bs-popover-body-color: #ffffff;
  --bs-popover-body-padding-x: 0;
  --bs-popover-body-padding-y: 0;
  --bs-popover-header-padding-x: 0;
  --bs-popover-header-padding-y: 0;
  --bs-popover-arrow-width: 0.8rem;
}
.popover-header {
  padding-bottom: 4px;
  font-weight: 500;
  border-bottom: 0;
}
.popover-body {
  letter-spacing: -0.4px;
  font-weight: 200;
}
/* --------------------  form  -------------------- */
.form-inner {
  min-height: 69px;
}
.form-item {
  margin-top: 20px;
}
.label {
  font-weight: 600;
  margin-bottom: 8px;
  color: #32354d;
}
.icon-label {
  font-weight: 600;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.icon-label p {
  color: #32354d;
}
.input-box {
  position: relative;
}
.input-box span {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #1c60ff;
}
/* --------------------  유효성 문구  -------------------- */
.form-control.is-invalid,
.form-control.is-valid,
.was-validated .form-control:valid,
.was-validated .form-control:invalid {
  background-image: none;
}
.invalid-feedback {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.2px;
  margin-top: 8px;
  display: flex !important;
  align-items: center;
  gap: 6px;
  color: #e62222;
}
.form-control.is-valid,
.was-validated .form-control:valid {
  border-color: #e9e9e9;
}

.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
  border-color: #e9e9e9;
  box-shadow: none;
}
.dropdown,
.bootstrap-select {
  min-height: 42px;
  height: 42px;
}
.bootstrap-select > .dropdown-toggle:after {
  margin: 0 !important;
}
.bootstrap-select .dropdown-toggle .filter-option {
  display: flex;
  align-items: center;
  color: #32354d;
}
:not(.btn-check) + .btn:active {
  background-color: #ffffff;
  border-color: #e9e9e9;
}
.bootstrap-select .dropdown-menu {
  border: 1px solid #e9e9e9;
  border-radius: 0 0 4px 4px;
  padding: 0;
}
.bootstrap-select .dropdown-menu li a {
  padding: 11px 16px;
  display: inline-block;
  color: #78838f;
}
.bootstrap-select .dropdown-menu.show {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #f9f9f9;
}
.btn.dropdown-toggle.bs-placeholder.btn-light.show {
  border-color: #e9e9e9;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}
.btn.show::after {
  transform: rotate(-180deg);
}
.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}
.dropdown-toggle::after {
  background-image: url(../assets/icons/dropdown.svg);
  border: none !important;
  min-width: 11px;
  width: 11px;
  height: 7px;
  background-repeat: no-repeat;
}
.bootstrap-select > .dropdown-toggle {
  border: 1px solid #e9e9e9;
  background-color: #ffffff;
  color: unset !important;
  padding: 0 16px;
  height: 42px;
}
.dropdown-menu.show {
  top: -3px !important;
}
.season-select {
  flex: 6 !important;
}
.season-detail {
  flex: 4 !important;
  max-width: calc(100% - 60% - 8px);
}
.season-detail {
  display: none !important;
}
.season-detail.open {
  display: block !important;
}
.dropdown-menu .show {
  max-height: 152px;
}
.season-detail.open .dropdown-menu .show {
  max-height: 168px;
}
.season-detail.open .filter-option-inner-inner {
  max-width: 130px;
  text-overflow: ellipsis;
}
.multiple .dropdown-menu li a {
  display: flex;
  align-items: center;
}
.bootstrap-select.show-tick .dropdown-menu li a span.text {
  margin-right: 0 !important;
  margin-left: 6px;
}
.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
  position: unset !important;
}
.bootstrap-select .bs-ok-default:after {
  visibility: hidden;
}
.bootstrap-select .dropdown-menu li a span.check-mark {
  display: flex !important;
  align-items: center;
  justify-content: center;
  border: 1px solid #495057;
  border-radius: 4px;
  width: 20px;
  height: 20px;
}
.bootstrap-select .dropdown-menu li.selected a span.check-mark {
  background-color: #495057;
}
.bootstrap-select .dropdown-menu li.selected a span.check-mark::after {
  visibility: visible !important;
  border: 0 !important;
  transform: unset !important;
  width: 14px;
  height: 14px;
  background-image: url("../assets/icons/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
  box-shadow: none;
}
/* --------------------  modal  -------------------- */
.modal {
  --bs-modal-width: fit-content !important;
  --bs-modal-padding: 0;
  --bs-modal-border-radius: 0;
  --bs-modal-margin: 0;
}
.modal-dialog-centered {
  margin: 0 auto;
  height: 100vh;
}
.modal-content {
  min-width: 400px;
  border: none;
  background-color: #ffffff;
  max-height: 90vh !important;
  min-height: fit-content;
  margin: auto;
}
.modal-title {
  display: flex;
  gap: 4px;
  padding: 40px 40px 0 40px;
}
.modal-title img {
  width: 24px;
  height: 24px;
}
.modal-title p {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
.modal-content-info {
  padding: 40px 44px;
  width: fit-content;
  background-color: #ffffff;
}
.modal-backdrop {
  background-color: #32354d;
}
.modal-container {
  overflow-y: auto;
  margin: 24px 0 40px;
  padding: 0 40px;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #78838f;
    border-radius: 20px;
  }
}
.modal-btn-box {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding: 0 40px 40px 40px;
}
.modal-btn-box button {
  width: 120px;
  height: 48px;
  font-size: 20px;
  font-weight: 600;
}
.modal-content-alert {
  border-radius: 4px;
  overflow: hidden;
  max-width: 448px;
  background-color: #ffffff;
}
.dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 53, 77, 0.82);
  z-index: 1100;
  display: none;
}
.modal-info-container {
  background-color: #ffffff;
  padding: 40px 44px;
}
.modal-info-title {
  display: flex;
  align-items: center;
  gap: 6px;
}
.modal-info-title p {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: -2px;
}
.modal-info-box {
  padding: 40px 0;
}
.modal-info-box img {
  width: 100%;
}
.modal-info-container button {
  width: 120px;
  font-weight: 600;
  float: right;
  height: 48px;
  font-size: 20px;
}
.alert-title {
  background-color: #f9f9f9;
  padding: 20px 40px;
}
.alert-content {
  padding: 20px 40px;
  color: #32354d;
  font-size: 20px;
  line-height: 24px;
}
.alert-title p {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.alert-btn-box {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}
.alert-btn-box button {
  width: 120px;
  height: 48px;
  background-color: #32354d;
  color: #ffffff;
}
/* --------------------  header  -------------------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1632px;
  padding: 10px 16px;
  margin: auto;
}
.header-top {
  display: flex;
  align-items: center;
  gap: 17px;
}
.header-top h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #444868;
}
.header-bottom {
  background-color: #32354d;
}
nav {
  display: flex;
  max-width: 1632px;
  padding: 0 16px;
  margin: auto;
}
nav ul {
  display: flex;
}
nav ul li h3 {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  line-height: 21px;
}
nav ul li a {
  padding: 22px 20px;
}
/* --------------------  footer  -------------------- */
footer {
  padding: 13px 16px;
  background-color: #32354d;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.2px;
  color: #ffffff;
}
/* --------------------  main  -------------------- */
main {
  min-height: calc(100vh - 165px);
  margin: auto;
  max-width: 1620px;
  padding: 38px 16px 36px;
}
main h1 {
  font-size: 32px;
  line-height: 1.1875;
  font-weight: 700;
  padding: 0 12px;
}
.main {
  margin-top: 22px;
  display: flex;
}
/* --------------------  stepper  -------------------- */
.stepper {
  background-color: #f8f8f8;
  padding: 40px;
  min-width: 320px;
  max-width: 320px;
  height: fit-content;
}
.stepper ul li {
  color: #78838f;
  margin-top: 26px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}
.stepper ul li:nth-child(1) {
  margin-top: 0;
}
.stepper ul li::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: -26px;
  left: 12px;
  width: 1px;
  height: 26px;
  background-color: #e9e9e9;
}
.stepper ul li:nth-child(1):before {
  display: none;
}
.stepper ul li p {
  padding-left: 10px;
  color: #78838f;
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
}
.stepper ul li.active p {
  color: #000000;
}
.stepper ul li.active span {
  color: #ffffff;
  background-color: #32354d;
  font-weight: 600;
}
.stepper ul li .step-info {
  visibility: hidden;
}
.stepper ul li.active .step-info {
  visibility: visible;
  margin-left: 10px;
}
.stepper ul li.active::before {
  background-color: #32354d;
}
.circle-24 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e9e9e9;
  color: #444868;
  font-size: 14px;
  line-height: 1;
}
.circle-18 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #444868;
  color: #ffffff;
  font-size: 12px;
  line-height: 1;
}
/* --------------------  main-container  -------------------- */
.main-container {
  width: 100%;
  padding-left: 32px;
}
.title-box {
  border-top: 2px solid #32354d;
  border-bottom: 1px solid #78838f;
  padding: 16px;
}
.title-box .desc {
  color: #78838f;
  font-size: 18px;
  line-height: 21px;
}
.title {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 7px;
}
.title h2 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
}
.title .circle-24 {
  background-color: #32354d;
  color: #ffffff;
  font-weight: 600;
  line-height: 1;
}
.main-content {
  padding: 40px 16px;
}
.btn-box {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #78838f;
  padding: 16px;
  gap: 8px;
}
.btn-box a {
  width: 120px;
  height: 48px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  line-height: 1;
  font-weight: 600;
}
.outline {
  border: 1px solid #e9e9e9;
  background-color: #ffffff;
  color: #444868;
}
.fill {
  background-color: #3598db;
  color: #ffffff;
}
.fill-navy {
  background-color: #32354d;
  color: #ffffff;
}
/* --------------------  index  -------------------- */
.index-box {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}
.form-box {
  max-width: 360px;
  width: 100%;
}
.season-box {
  display: flex;
  gap: 8px;
}
.apply-box {
  margin-top: 32px;
  float: right;
}
.apply-box button {
  width: 100px;
  background-color: #32354d;
  color: #ffffff;
  font-size: 16px;
}
.index-img-box {
  min-width: 346px;
}
/* --------------------  index02  -------------------- */
.index02-box {
  position: relative;
  max-width: max-content;
  min-width: fit-content;
  margin: 0 auto;
}
.index02-box svg {
  width: 100%;
  height: fit-content;
}
.map-text {
  display: none;
  position: absolute;
}
.map-text p {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
}
.map-svg * {
  fill: #c8cbea;
  transition: 150ms ease;
  cursor: pointer;
}
.selectedRegion {
  fill: #32354d;
}
.index02-selected {
  display: flex;
  gap: 8px;
  background-color: #e9e9e9;
  padding: 4.5px 10px;
  width: fit-content;
  margin: 40px auto 55px;
}
.index02-selected p {
  font-size: 18px;
  line-height: 21px;
  width: 83px;
  text-align: center;
}
.index02-selected p:nth-child(1) {
  font-weight: 600;
}
.bubble-box {
  display: none;
  position: absolute;
  width: 64px;
  height: 33px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #444868;
  cursor: pointer;
}
.bubble-inner {
  display: flex;
  height: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 5;
}
.bubble-inner::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 31px;
  width: 7px;
  height: 7.15px;
  border: 1px solid #444868;
  transform: rotate(45deg) translateX(-50%);
  border-top: 0;
  border-left: 0;
  background-color: white;
}
.bubble-box b {
  font-size: 14px;
  line-height: 17px;
}
.bubble-box.active {
  display: block;
}
/* 제주 */
.bubble-box.map01 {
  bottom: 4%;
  left: 1%;
}
/* 경상남도 */
.bubble-box.map02 {
  bottom: 30%;
  right: 30%;
}
/* 전라남도 */
.bubble-box.map03 {
  bottom: 24%;
  left: 8%;
}
/* 충청북도 */
.bubble-box.map04 {
  top: 26%;
  left: 40%;
}
/* 전라북도 */
.bubble-box.map05 {
  bottom: 40%;
  left: 20%;
}
/* 강원도 */
.bubble-box.map06 {
  right: 18%;
  top: 14%;
}
/* 경기도 */
.bubble-box.map07 {
  left: 18%;
  top: 8%;
}
/* 충청남도 */
.bubble-box.map08 {
  top: 30%;
  left: 8%;
}
/* 경상북도 */
.bubble-box.map09 {
  right: 8%;
  top: 36%;
}
/* --------------------  index03  -------------------- */
.index03-box {
  width: fit-content;
  margin: 10px auto 0;
}
.index03-box img {
  width: 100%;
  cursor: pointer;
}
.index03-text-box {
  margin-top: 40px;
}
.index03-title-box {
  width: fit-content;
  margin: auto;
  padding: 4.5px 10px;
  border-radius: 4px;
  background-color: rgba(168, 176, 255, 0.4);
}
.index03-title-box p {
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
}
.index03-title-box span {
  min-width: 95px;
  text-align: right;
  font-weight: 400;
}
.index03-sub-box {
  display: flex;
  gap: 10px;
  margin-top: 32px;
  flex-wrap: wrap;
  justify-content: center;
  visibility: visible;
  /* visibility: hidden; */
}
.index03-sub-box p,
.index03-sub-box span {
  color: #78838f;
  font-size: 18px;
  line-height: 21px;
}
.index03-sub-box span {
  font-weight: 600;
}

/* index04 */
.index04-box {
  width: fit-content;
  margin: 72px auto 88px;
  position: relative;
}
.index04-box img {
  width: 100%;
}
@keyframes btn {
  0% {
    transform: scale(100%);
    opacity: 1;
  }
  100% {
    transform: scale(130%);
    opacity: 0;
  }
}
.btn-building {
  padding: 8px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  z-index: 999;
  border: none;
}
.roof-info {
  top: 20%;
  right: 28%;
  transform: translate(-28%, -20%);
}
.wall-info {
  top: 60%;
  left: 18%;
  transform: translate(-18%, -60%);
}
.btn-building:last-child:after {
  animation-delay: 0.5s;
}
.btn-building:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
  left: -8px;
  top: -8px;
  z-index: -1;
  border-radius: 100%;
  animation-name: btn;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
/* index05 */
.tab {
  width: fit-content;
  background-color: #f8f8f8;
  align-items: center;
  display: flex;
  height: 42px;
  border-radius: 4px;
  box-shadow: inset 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  padding: 1px 0;
}
.tab li {
  height: 100%;
}
.tab li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #78838f !important;
  font-size: 18px;
  line-height: 21px;
  width: 124px;
}
.tab li a.active {
  background-color: #a8b0ff;
  color: #ffffff !important;
  border-radius: 4px;
}
.tab-box {
  min-height: 422px;
}
.tab-content {
  display: none;
  margin: 24px 0;
}
.tab-shadow {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}
.tab1-content {
  display: flex;
  align-items: center;
  padding: 60px;
  gap: 60px;
}
.tab1-content img {
  height: 302px;
}
.tab1-content > div > p {
  font-size: 20px;
  line-height: 24px;
  margin-top: 17px;
}
.tab1-content > div > p:nth-child(1) {
  margin-top: 0;
}
.tab1-content > div > p > span {
  font-weight: 600;
}
.main-tab {
  padding: 30px 20px 26px;
}
/* chart */
.barChart-container {
  padding: 30px 30px 72px;
  height: 422px;
  width: 100%;
}
.scroll-container {
  padding: 40px;
  max-height: 422px;
  overflow-x: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #78838f;
    border-radius: 20px;
  }
}
.scroll-container p {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -1.5px;
  color: #78838f;
}
.scroll-container span {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -1.5px;
  color: #adb5bd;
}
.doughnut-box {
  display: flex;
  max-width: 560px;
  justify-content: space-between;
  margin: auto;
}
.doughnut-box div {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: fit-content;
  padding: 40px 0;
}
.doughnut-box div p {
  margin-top: 10px;
  text-align: center;
  line-height: 23px;
  color: #78838f;
}
.tab3Chart-container {
  width: 600px;
  height: 328px;
  margin: 20px auto;
  position: relative;
}
.legend-unit {
  display: none;
  position: absolute;
  top: 5px;
  right: 10px;
}
.legend-unit p {
  color: #78838f;
  font-size: 14px;
  line-height: 1;
}
/* index06 */
.chart-box {
  display: flex;
  gap: 16px;
}
.chart-box canvas {
  width: 100% !important;
}
.chart-box .tab-shadow {
  position: relative;
  height: 422px;
  padding: 20px 20px 72px;
  flex: 5;
}
.line {
  display: none;
}
.write-box {
  position: absolute !important;
  top: 14px;
  left: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: calc(100% - 28px);
  height: calc(100% - 28px);
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.write-icon {
  cursor: pointer;
  max-width: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c60ff;
  border-radius: 8px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.18);
}
.icon-text-box {
  display: flex;
}
.icon-text-box strong {
  line-height: 26px;
}
.icon-text-box span {
  padding: 0 10px;
  font-size: 16px;
  line-height: 26px;
  color: #78838f;
}
.row-form {
  display: flex;
  gap: 20px;
}
.max-400 {
  max-width: 400px;
  width: 100%;
}
.doughnut-box-index06 {
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 40px 20px;
}
.border-box {
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  padding: 24px 20px;
  flex: 5;
}
.doughnut-con {
  display: flex;
  height: fit-content;
  text-align: center;
  justify-content: space-evenly;
}
.doughnut-con > div {
  width: 200px;
  gap: 16px;
}
.doughnut-con p {
  margin-top: 9px;
}
.border-box strong {
  display: inline-block;
  width: 100%;
  color: #78838f;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-bottom: 10px;
}
/* index07,08 */
.h1-box {
  padding: 0 12px 38px 12px;
}
/* index07 */
.p-16 {
  padding: 16px !important;
}
.mt-14 {
  margin-top: 14px;
}
.mt-24 {
  margin-top: 24px;
}
.mt-58 {
  margin-top: 58px;
}
.mo-content {
  display: none;
}
.table-box {
  border-top: 1px solid #78838f;
  padding: 16px 16px 58px;
}
.table-title {
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.table-title h2 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
}
.table-title span {
  background-color: #32354d;
  color: #ffffff;
}
.custom-table {
  width: 100%;
}
.custom-table thead {
  background-color: #4650a2;
  border: 1px solid #4650a2;
}
.custom-table thead th,
.custom-table tbody td {
  padding: 16px 0;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
}
.custom-table thead th {
  color: #ffffff;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
.custom-table thead th.blue {
  background-color: #3f4892;
}
.custom-table thead th:nth-last-child(1) {
  border-right: 0;
}
.custom-table thead th span {
  font-size: 16px;
  font-weight: 400;
}
.custom-table tbody td.background {
  background-color: #f9f9f9;
  text-align: left;
  padding: 16px 32px;
}
.custom-table tbody td.gray {
  background-color: #fdfdfd;
}
.table-desc {
  margin: 24px 0;
}
.table-desc p {
  color: #78838f;
}

/* index08 */
.sub-content-box {
  border-top: 1px solid #78838f;
  border-bottom: 1px solid #78838f;
  padding: 24px 16px;
}
.sub-content-box > p {
  color: #78838f;
  font-size: 18px;
  line-height: 1.5;
}
.sub-content-box .img {
  width: fit-content;
  margin-top: 24px;
}
.sub-content-box > p > span {
  display: none;
}
.link-btn {
  display: flex;
  gap: 6px;
  align-items: center;
  width: fit-content;
  margin-top: 24px;
  background-color: #3598db;
  color: #ffffff;
  padding: 12px 31px;
  font-size: 20px;
  line-height: 1;
  border-radius: 4px;
}
