/* --------------------  width  -------------------- */
.w-124 {
  width: 124px;
}
.w-360 {
  width: 360px;
}
/* --------------------  height  -------------------- */
.h-42 {
  height: 42px;
}
/* --------------------  text-color  -------------------- */
.color-primary {
  color: #444868;
}
.color-secondary {
  color: #32354d;
}
.color-sub {
  color: #78838f;
}
.color-white {
  color: #ffffff;
}
/* --------------------  bg-color  -------------------- */
.bg-primary {
  background-color: #444868 !important;
}
.bg-secondary {
  background-color: #32354d !important;
}
/* --------------------  font-size  -------------------- */
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
  line-height: 19px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-24 {
  font-size: 24px;
}
.fs-32 {
  font-size: 32px;
}
/* --------------------  img  -------------------- */
.img {
  object-fit: containe;
}
/* --------------------  gap  -------------------- */
.gap-4 {
  gap: 4px !important;
}
.gap-7 {
  gap: 7px;
}
.gap-8 {
  gap: 8px;
}
.gap-16 {
  gap: 16px;
}
.gap-32 {
  gap: 32px;
}
/* --------------------  padding  -------------------- */
.p-16 {
  padding: 16px;
}
.pt-16 {
  padding-top: 16px;
}
.px-12 {
  padding-right: 12px;
  padding-left: 12px;
}
.px-16 {
  padding-right: 16px;
  padding-left: 16px;
}
.px-32 {
  padding-right: 32px;
  padding-left: 32px;
}
.py-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}
.py-11 {
  padding-top: 11px;
  padding-bottom: 11px;
}
.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.modal-padding {
  padding: 24px 0 40px;
}
/* --------------------  margin  -------------------- */
.mt-6 {
  margin-top: 6px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-22 {
  margin-top: 22px;
}
.mt-32 {
  margin-top: 32px;
}
.my-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.mb-8 {
  margin-bottom: 8px;
}
/* --------------------  a link  -------------------- */
.link {
  width: 120px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  line-height: 1;
}
.link-line {
  background-color: #ffffff;
  border: 1px solid #e9e9e9;
  color: #444868;
}
.link-blue {
  background-color: #3598db;
  color: #ffffff;
}
/* --------------------  btn  -------------------- */
.btn-large {
  width: 120px;
}
.btn-medium {
  width: 100px;
}
.btn-close:focus {
  box-shadow: none;
}
.btn-navy {
  background-color: #32354d;
  color: #ffffff;
}
.btn {
  font-weight: 400;
  border-radius: 4px;
  background-color: #ffffff;
}
.btn:focus-visible {
  box-shadow: none !important;
}
/* --------------------  form  -------------------- */
.form-control {
  border-radius: 4px;
  border-color: #e9e9e9;
}
.form-label {
  margin-bottom: 8px;
}
.form-control:focus,
.form-select:focus {
  border-color: #e9e9e9;
  box-shadow: none;
}
.input-box {
  position: relative;
}
/* --------------------  form : input -------------------- */
input {
  padding: 0 16px;
}
.input-box input {
  padding: 0 50px 0 16px;
}
.input-box span {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
/* --------------------  form : select -------------------- */
.bootstrap-select {
  height: 42px;
}
.bootstrap-select > .dropdown-toggle:after {
  margin: 0 !important;
}
.bootstrap-select .dropdown-toggle .filter-option {
  display: flex;
  align-items: center;
}
:not(.btn-check) + .btn:active {
  background-color: #ffffff;
  border-color: #e9e9e9;
}
.bootstrap-select .dropdown-menu {
  border: 1px solid #e9e9e9;
  border-radius: 0 0 4px 4px;
  padding: 0;
}
.bootstrap-select .dropdown-menu li a {
  padding: 11px 16px;
  display: inline-block;
  color: #78838f;
}
.bootstrap-select .dropdown-menu.show {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #f9f9f9;
}
.btn.dropdown-toggle.bs-placeholder.btn-light.show {
  border-color: #e9e9e9;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}
.btn.show::after {
  transform: rotate(-180deg);
}
.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}
.dropdown-toggle::after {
  background-image: url(../assets/icons/dropdown.svg);
  border: none !important;
  min-width: 11px;
  width: 11px;
  height: 7px;
  background-repeat: no-repeat;
}
.bootstrap-select > .dropdown-toggle {
  border: 1px solid #e9e9e9;
  background-color: #ffffff;
  color: unset !important;
  height: 100%;
}
.season-select,
.season-detail {
  flex: 5;
}
.season-detail {
  display: none !important;
}
.season-detail.open {
  display: block !important;
}
.dropdown-menu .show {
  max-height: 152px;
}
.season-detail.open .dropdown-menu .show {
  max-height: 168px;
}
.season-detail.open .filter-option-inner-inner {
  max-width: 130px;
  text-overflow: ellipsis;
}
.multiple .dropdown-menu li a {
  display: flex;
  align-items: center;
}
.bootstrap-select.show-tick .dropdown-menu li a span.text {
  margin-right: 0 !important;
  margin-left: 6px;
}
.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
  position: unset !important;
}
.bootstrap-select .bs-ok-default:after {
  visibility: hidden;
}
.bootstrap-select .dropdown-menu li a span.check-mark {
  display: flex !important;
  align-items: center;
  justify-content: center;
  border: 1px solid #495057;
  border-radius: 4px;
  width: 20px;
  height: 20px;
}
.bootstrap-select .dropdown-menu li.selected a span.check-mark {
  background-color: #495057;
}
.bootstrap-select .dropdown-menu li.selected a span.check-mark::after {
  visibility: visible !important;
  border: 0 !important;
  transform: unset !important;
  width: 14px;
  height: 14px;
  background-image: url("../assets/icons/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/* --------------------  form : switch -------------------- */
.custom-switch {
  position: relative;
}
.switch {
  position: relative;
  display: inline-block;
  max-width: 108px;
  min-width: 108px;
  height: 40px;
  padding: 5px 4px;
  border-radius: 20px;
  background-color: #f8f8f8;
  box-shadow: 0 -3px 3px 0 rgba(0, 0, 0, 0.1);
}
.switch-input {
  display: none;
}
.switch-label {
  display: block;
  height: 30px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.switch-inner {
  display: block;
  width: 50%;
  height: 100%;
  border-radius: 20px;
  background-color: #78838f;
  transition: margin 0.3s ease-in-out;
}
.switch-label {
  display: flex;
  color: #78838f;
  transition: margin 0.3s ease-in-out;
}
.switch-inner {
  position: absolute;
  z-index: -1;
}
.switch-on,
.switch-off {
  display: inline-block;
  width: 50%;
  line-height: 30px;
  text-align: center;
}
.switch-label .switch-inner {
  margin-left: 50%;
}
.switch-input:checked + .switch-label .switch-inner {
  background-color: #2e3580;
  margin-left: 0;
}
.switch-input:checked + .switch-label .switch-on,
.switch-input:not(:checked) + .switch-label .switch-off {
  color: white;
}
/* --------------------  popover  -------------------- */
.popover {
  font-family: "pretendard";
  padding: 8px;
  --bs-popover-max-width: 270px;
  --bs-popover-header-font-size: 14px;
  --bs-popover-font-size: 14px;
  --bs-popover-header-bg: transparent;
  --bs-popover-border-color: rgba(50, 53, 77, 0.95);
  --bs-popover-bg: rgba(50, 53, 77, 0.95);
  --bs-popover-border-radius: 4px;
  --bs-popover-header-color: #ffffff;
  --bs-popover-body-color: #ffffff;
  --bs-popover-body-padding-x: 0;
  --bs-popover-body-padding-y: 0;
  --bs-popover-header-padding-x: 0;
  --bs-popover-header-padding-y: 0;
  --bs-popover-arrow-width: 0.8rem;
}
.popover-header {
  padding-bottom: 4px;
  font-weight: 500;
}
.popover-body {
  letter-spacing: -0.4px;
  font-weight: 200;
}
/* --------------------  chart  -------------------- */
.chart-legend li span {
  border-radius: 0 !important;
  width: 10px !important;
  height: 10px !important;
}
.chart {
  height: 320px;
  width: 100%;
}
.half {
  width: calc(50% - 8px) !important;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(5px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* --------------------  header  -------------------- */
.header-top,
nav {
  max-width: 1632px;
}
.header-top {
  padding: 10px 16px;
}
.header-top h1 {
  font-size: 20px;
  color: #444868;
}
header nav ul li a {
  padding: 22px 20px;
}
header nav ul li a h3 {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
/* --------------------  footer  -------------------- */
footer {
  padding: 13px 10px;
  background-color: #32354d;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.2px;
  color: #ffffff;
}
/* --------------------  common  -------------------- */
.main {
  --bs-gutter-x: 0;
  min-height: calc(100vh - 165px);
  margin: auto;
  max-width: 1620px;
  padding: 38px 16px 36px;
}
.title-box {
  padding: 0 6px 22px;
}
.container {
  --bs-gutter-x: 0;
  margin: auto;
  width: 100%;
  padding-left: 32px;
}
.con-title {
  border-top: 2px solid #32354d;
  padding: 16px;
}
.con-title .circle-24,
.con-title .circle-18 {
  background-color: #32354d;
  color: #ffffff;
}
.con-content {
  padding: 40px 16px;
  border-top: 1px solid #78838f;
  border-bottom: 1px solid #78838f;
}
/* --------------------  spinner  -------------------- */
.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner-dim {
  background-color: rgba(50, 53, 77, 0.12);
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.spinner-border {
  width: 3rem;
  height: 3rem;
  z-index: 10;
}
/* --------------------  stepper  -------------------- */
.stepper {
  background-color: #f8f8f8;
  padding: 40px;
  min-width: 320px;
  max-width: 320px;
  height: fit-content;
}
.stepper ul li {
  color: #78838f;
  margin-top: 26px;
  position: relative;
  z-index: 1;
}
.stepper ul li:nth-child(1) {
  margin-top: 0;
}
.stepper ul li::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: -26px;
  left: 12px;
  width: 1px;
  height: 26px;
  background-color: #e9e9e9;
}
.stepper ul li:nth-child(1):before {
  display: none;
}
.stepper ul li p {
  padding-left: 10px;
  color: #78838f;
}
.stepper ul li.active p {
  color: #000000;
}
.stepper ul li.active span {
  color: #ffffff;
  background-color: #32354d;
}
.stepper ul li .step-info {
  visibility: hidden;
}
.stepper ul li.active .step-info {
  visibility: visible;
  margin-left: 10px;
}
.stepper ul li.active::before {
  background-color: #32354d;
}
.circle-24 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e9e9e9;
  color: #444868;
  font-size: 14px;
}
.circle-18 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #e9e9e9;
  color: #444868;
  font-size: 12px;
}
/* --------------------  tab  -------------------- */
.tab {
  width: fit-content;
  background-color: #f8f8f8;
  align-items: center;
  display: flex;
  height: 40px;
  border-radius: 4px;
  box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.1);
}
.tab-item {
  width: 124px;
}
.tab-link {
  padding: 9px 0;
  width: 100%;
  font-size: 18px;
  text-align: center;
  border-radius: 4px;
  color: #78838f;
}
.tab-link.active {
  background-color: #404ab3;
  color: #ffffff;
}
.tab-content {
  max-width: 1204px;
}
/* --------------------  modal  -------------------- */
.modal {
  --bs-modal-width: 400px !important;
  --bs-modal-padding: 0;
}
.modal-dialog {
  margin: 0 auto;
}
.modal.show .modal-dialog {
  width: 400px;
}
.modal-content {
  width: 400px;
  padding: 40px;
  border: none;
  background-color: #ffffff;
}
.modal-backdrop {
  background-color: #32354d;
}
/* --------------------  index02  -------------------- */
.map-box {
  position: relative;
  width: 330px;
  margin: 20px auto;
}
.map-box svg {
  width: 100%;
  height: auto;
}
.region-text-box {
  display: none;
  position: absolute;
}
.region-text-box p {
  font-size: 18px;
}
.region-text-box.map01 {
}
.region-text-box.map02 {
}

.region-text-box.map04 {
}
.region-text-box.map05 {
}
.region-text-box.map07 {
  bottom: 0;
  right: -10%;
  transform: translateX(-10%);
}
.region-text-box.map08 {
}
.region-text-box.map09 {
}
.region-text-box.map10 {
}
.region-text-box.map11 {
}
.region-text-box.map12 {
}
.region-text-box.map13 {
}
.region-text-box.map14 {
  top: 16%;
  right: -11%;
  transform: translateX(-11%);
}
.region-text-box.map03,
.region-text-box.map06,
.region-text-box.map15 {
  top: 24%;
  left: -12%;
  transform: translateX(-12%);
}
.region-text-box.map16 {
}
.region-text-box.map17 {
}
.region-text-box.map18 {
  top: 50%;
  right: -40%;
  transform: translateX(-40%);
}
.region {
  fill: #dadcec;
  transition: 0.3s;
}
.selectedRegion {
  fill: #32354d;
}
/* --------------------  index03  -------------------- */
.img-box-text {
  margin: 0 auto;
  padding: 80px 0 35px;
  width: fit-content;
}
.build-text {
  margin: 16px auto 0;
  font-size: 18px;
  line-height: 21px;
  width: fit-content;
  padding: 4.5px 10px;
  color: #000000;
  border-radius: 4px;
  background-color: rgba(168, 176, 255, 0.4);
}
.build-text span {
  font-weight: 400;
}
.build-text span:nth-child(1) {
  min-width: 68px;
  text-align: right;
}
.light-blue {
  background-color: #a8b0ff;
}
.opacity40-light-blue {
  background-color: rgba(168, 176, 255, 0.4);
}
.building-text-box {
  margin: auto;
  width: fit-content;
  border-radius: 4px;
  padding: 6px 10px;
  font-size: 18px;
  color: #000000;
  background-color: rgba(168, 176, 255, 0.4);
}
.building-text-box span:nth-child(2) {
  min-width: 68px;
  margin: 0 4px;
  text-align: right;
}
.m-block {
  display: none;
}
/* --------------------  index04  -------------------- */
@keyframes btn {
  0% {
    transform: scale(100%);
    opacity: 1;
  }
  100% {
    transform: scale(150%);
    opacity: 0;
  }
}
.img-box {
  margin: 0 auto;
  padding: 80px 0;
  width: fit-content;
  position: relative;
}
.btn-building {
  padding: 20px;
  border-radius: 100%;
  background-color: rgba(50, 53, 77, 0.2);
  position: absolute;
  z-index: 999;
  border: none;
}
.roof-info {
  left: 80px;
  top: 6px;
}
.wall-info {
  bottom: 24%;
  right: 20%;
  transform: translateX(-20%);
}
.btn-building:last-child:after {
  animation-delay: 0.5s;
}
.btn-building:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  display: block;
  background-color: rgba(50, 53, 77, 0.2);
  left: 0;
  top: 0;
  border-radius: 100%;
  animation-name: btn;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
/* --------------------  index05  -------------------- */
.project-tab li a {
  text-align: center;
}
.project-tab li a {
  text-align: center;
}
.project-tab li a.active {
  background-color: #a8b0ff;
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 0px rgba(171, 174, 215, 0.4);
}
.tab-con {
  margin: 25px 0 10px;
  padding: 20px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}
/* --------------------  mobile  -------------------- */
@media (max-width: 1190px) {
  /* --------------  mobile : header -------------- */
  .header-top,
  header nav {
    padding: 1px 16px;
  }
  .logo {
    height: 32px;
  }
  .navbar-toggler-icon {
    width: 24px;
    height: 24px;
    background-image: url("../assets/icons/icon_menu.svg");
  }
  /* --------------  mobile : footer -------------- */
  footer {
    display: none;
  }
  /* --------------  mobile : font-size -------------- */
  .fs-m12 {
    font-size: 12px;
  }
  .fs-m14 {
    font-size: 14px;
  }
  .fs-m16 {
    font-size: 16px;
    line-height: 19px;
  }
  .fs-m18 {
    font-size: 18px;
  }
  .fs-m20 {
    font-size: 20px;
  }
  /* --------------  mobile : common -------------- */
  .m-block {
    display: block !important;
  }
  .m-none {
    display: none !important;
  }
  .m-col {
    flex-direction: column;
  }
  /* --------------  mobile : padding -------------- */
  .p-m0 {
    padding: unset;
  }
  .pt-m8 {
    padding-top: 8px;
  }
  .pt-m20 {
    padding-top: 20px;
  }
  .pt-m22 {
    padding-top: 22px;
  }
  /* --------------  mobile : margin -------------- */
  .mt-m0 {
    margin-top: 0;
  }
  .mt-m16 {
    margin-top: 16px;
  }
  .mb-m24 {
    margin-bottom: 24px;
  }
  /* --------------  mobile : width -------------- */
  .w-m50 {
    width: 50%;
  }
  .w-m100 {
    width: 100%;
  }
  /* --------------  mobile : gap -------------- */
  .gap-m4 {
    gap: 4px;
  }
  /* --------------  mobile : stepper -------------- */
  .stepper {
    padding: 8px 23px;
    min-width: 100%;
  }
  .stepper ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .stepper ul li {
    margin-top: 0;
    justify-content: center;
  }
  .stepper ul li p {
    display: none;
  }
  .stepper ul li::before {
    width: calc(100% - 24px);
    height: 1px;
    top: 12px;
    left: calc(-50% + 12px);
  }
  .step-info {
    display: none;
  }
  /* --------------  mobile : a link -------------- */
  .link {
    height: 42px;
  }
  /* --------------  mobile : modal -------------- */
  .modal.show .modal-dialog {
    width: 100%;
  }
  .modal-content {
    padding: 32px;
    margin: auto;
  }
  /* --------------  mobile : common -------------- */
  .m-border-top-none {
    border-top: 0;
    padding: 0 0 16px !important;
  }
  .main {
    padding: 22px 16px;
  }
  .title-box {
    flex-direction: column;
    padding: 0;
    gap: 8px;
  }
  .title-box .tab {
    width: 100%;
  }
  .title-box .tab .tab-item {
    width: 50%;
  }
  .container {
    padding: 0;
    max-width: 100%;
  }
  .con-title {
    width: 100%;
    padding: 14px 0 16px;
    border-top: 0;
  }
  .con-content {
    padding: 16px 0;
  }
  .circle-m18 {
    width: 18px;
    height: 18px;
    font-size: 12px;
  }
  /* --------------  mobile : popover -------------- */

  /* --------------  mobile : switch -------------- */
  .switch {
    max-width: 100%;
    min-width: 100%;
  }
  /* --------------  mobile : index02 -------------- */
  .map-box {
    width: 200px;
  }
  .region-text-box p {
    font-size: 11px;
  }
  /* --------------  mobile : index03 -------------- */
  .img-box-text {
    padding: 37px 0;
  }
  .build-text {
    margin-top: 24px;
  }
  /* --------------  mobile : index04 -------------- */
  .img-box {
    padding: 64px 0;
  }
  /* --------------  mobile : index05 -------------- */
  .project-tab {
    width: 100%;
    height: 38px;
  }
  .project-tab .tab-item a {
    padding: 8px 0;
  }
  .tab-content {
    max-width: 100%;
    margin: 24px 0 40px;
    box-shadow: none;
    padding: 0;
  }
}
@media (max-width: 576px) {
  .modal-content {
    width: 337px;
  }
}
