@media (max-width: 1190px) {
  .m-block {
    display: block !important;
  }
  .m-none {
    display: none !important;
  }
  /* header */
  .header {
    padding: 6px 16px;
  }
  .header-top img {
    height: 32px;
  }
  .navbar-toggler {
    padding: 0 5px;
  }
  .navbar-toggler-icon {
    width: 24px;
    height: 24px;
    background-image: url("../assets/icons/icon_menu.svg");
  }
  /* main */
  main {
    max-width: 100%;
    padding: 22px 16px;
  }
  main h1 {
    font-size: 20px;
    line-height: 1.2;
    padding: 0;
  }
  .main {
    flex-direction: column;
  }
  .stepper {
    padding: 8px;
    min-width: 100%;
  }
  .stepper ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .stepper ul li {
    margin-top: 0;
    justify-content: center;
  }
  .stepper ul li p {
    display: none;
  }
  .stepper ul li::before {
    width: calc(100% - 24px);
    height: 1px;
    top: 12px;
    left: calc(-50% + 12px);
  }
  .step-info {
    display: none;
  }
  .main-container {
    padding-left: 0;
  }
  .title {
    gap: 4px;
    margin-bottom: 6px;
  }
  .title-box {
    padding: 14px 0 16px;
    border-top: none;
  }
  .title-box .desc {
    font-size: 16px;
    line-height: 19px;
  }
  .title h2 {
    font-size: 18px;
    line-height: 21px;
  }
  .title .circle-24 {
    width: 18px;
    height: 18px;
    font-size: 12px;
  }
  .main-content {
    padding: 16px 0;
  }
  .btn-box {
    padding: 21px 0 0;
  }
  .btn-box a {
    width: 100%;
  }
  /* modal */
  .modal-content {
    width: calc(90vw - 56px);
    height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-overflow-scrolling: touch;
  }
  .modal-title {
    padding: 32px 28px 0;
  }
  .modal-content {
    min-width: fit-content;
    padding: 0;
  }
  .modal-container {
    margin: 28px 0 32px;
    padding: 0 28px;
    max-height: calc(80vh - 130px);
    overflow-y: scroll;
  }
  .modal-btn-box button {
    width: 100%;
    height: 42px;
    font-size: 16px;
  }
  .modal-btn-box {
    padding: 0 28px 32px;
  }
  /* index */
  .btn-box a {
    height: 42px;
    font-size: 16px;
  }
  .form-item {
    margin-top: 16px;
  }
  .apply-box {
    margin-top: 24px;
  }
  .index-img-box {
    display: none;
  }
  /* index02 */
  .map-svg {
    height: 278px !important;
  }
  .index02-box {
    margin: 24px auto;
  }
  .index02-selected {
    margin: 0 auto 24px;
  }
  .map-text p {
    font-size: 11px;
  }
  .bubble-box {
    width: 58px;
    height: 30px;
  }
  .bubble-box b {
    font-size: 12px;
    line-height: 14px;
  }
  .bubble-inner::after {
    top: 28px;
  }
  /* 제주 */
  .bubble-box.map01 {
    bottom: 16px;
    left: -12px;
  }
  /* 경상남도 */
  .bubble-box.map02 {
    bottom: 30%;
    right: 24%;
  }
  /* 전라남도 */
  .bubble-box.map03 {
    bottom: 26%;
    left: 2%;
  }
  /* 충청북도 */
  .bubble-box.map04 {
    top: 26%;
    left: 30%;
  }
  /* 전라북도 */
  .bubble-box.map05 {
    bottom: 40%;
    left: 12%;
  }
  /* 강원도 */
  .bubble-box.map06 {
    right: 14%;
    top: 8%;
  }
  /* 경기도 */
  .bubble-box.map07 {
    left: 22%;
    top: 12%;
  }
  /* 충청남도 */
  .bubble-box.map08 {
    top: 30%;
    left: 8%;
  }
  /* 경상북도 */
  .bubble-box.map09 {
    right: 8%;
    top: 36%;
  }
  /* index03 */
  .index03-text-box {
    margin: 24px 0 37px;
  }
  .index03-sub-box {
    margin-top: 24px;
  }
  .modal-info-container {
    margin: 0 40px;
    padding: 32px;
  }
  .modal-info-title p {
    font-size: 18px;
    line-height: 21px;
  }
  .modal-info-box {
    padding: 20px 0;
  }
  .modal-info-container button {
    width: 100%;
  }
  /* index04 */
  .index04-box {
    margin: 49px auto;
  }
  /* index05 */
  .tab {
    width: 100%;
  }
  .tab li {
    flex: 3.33;
  }
  .tab li a {
    width: 100%;
  }
  .tab1-content {
    padding: 10px 20px;
    flex-direction: column;
    gap: 10px;
  }
  .tab1-content img {
    width: 100%;
  }
  .tab1-content > div {
    width: 100%;
  }
  .tab1-content > div > p {
    font-size: 16px;
    line-height: 19px;
    margin-top: 4px;
  }
  .tab-shadow {
    box-shadow: none;
  }
  .main-tab {
    padding: 0 !important;
  }
  .title-box.index05 {
    border-bottom: 0;
  }
  /* index05 */
  .barChart-container {
    padding: 0 7px 16px;
  }
  .scroll-container {
    max-height: unset;
    padding: 20px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  }
  .scroll-container p {
    font-size: 16px;
    line-height: 19px;
  }
  .scroll-container p,
  .scroll-container span {
    letter-spacing: 0;
  }
  .icon-text-box strong {
    font-weight: 400 !important;
  }
  .tab-box {
    min-height: unset;
  }
  .barChart-container {
    height: 222px;
  }
  .doughnut-box {
    justify-content: space-around;
  }
  .doughnut-box div {
    width: 120px;
    padding: 30px 0;
  }
  .tab3Chart-container {
    width: 100%;
    height: 224px;
  }
  /* .legend-unit {
    position: absolute;
    top: 4px;
    right: -4px;
  }
  .legend-unit p {
    font-size: 12px;
    line-height: 1;
  } */
  /* index06 */
  .chart-box,
  .row-form {
    flex-direction: column;
  }
  .chart-box {
    gap: unset;
  }
  .line {
    display: inline-block;
    margin: 24px 0;
    width: 100%;
    height: 1px;
    background-color: #e9e9e9;
  }
  .chart-box .tab-shadow {
    padding: 8px 8px 23px;
  }
  .chart-box .tab-shadow canvas {
    height: 191px !important;
  }
  .write-box {
    top: 8px;
    left: 8px;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
  }
  .doughnut-box-index06 {
    flex-direction: column;
    padding: 20px 0;
    gap: 20px;
  }
  .doughnut-con > div {
    width: 116px;
  }
  .border-box {
    padding: 15px 0;
  }
  /* index07,08 */
  .h1-box {
    padding: 0 0 14px 0;
  }
  /* index07 */
  .table-box {
    display: none;
  }
  .mo-content {
    display: block;
  }
  .mo-tab-title {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 14px 0;
    border-top: 1px solid #32354d;
  }
  .mo-tab-title p {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
  }
  .accordion {
    --bs-accordion-inner-border-radius: 0;
    --bs-accordion-border-radius: 0;
    --bs-accordion-border-color: #e9e9e9;
    --bs-accordion-border-width: 0;
  }
  .accordion-button {
    font-size: 16px;
    line-height: 19px;
    padding: 0 16px;
    height: 56px;
  }
  .accordion-item {
    border-top: 1px solid #e9e9e9 !important;
  }
  .accordion-item:nth-last-child(1) {
    border-bottom: 1px solid #e9e9e9 !important;
  }
  .accordion-button::after {
    background-size: 14px;
    height: 14px;
    width: 14px;
  }
  .accordion-button:focus {
    box-shadow: none;
  }
  .accordion-button:not(.collapsed) {
    background-color: #ffffff;
    color: initial;
  }
  .accordion-body {
    padding: 16px 8px;
  }
  .accordion-text {
    background-color: #f9f9f9;
    color: #32354d;
    padding: 8px;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  .mo-desc {
    font-size: 14px;
    line-height: 20px;
    color: #78838f;
    padding: 14px 0 44px;
  }
  .mo-table {
    width: 100%;
  }
  .background-gray {
    background-color: #f9f9f9;
    width: 72px;
    min-width: 72px;
    padding: 8px 4px !important;
    text-align: unset !important;
  }
  .mo-table th,
  .mo-table td {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: -0.2px;
  }
  .mo-table thead {
    border: 1px solid #404ab3;
  }
  .mo-table thead tr th {
    padding: 8px 0;
    text-align: center;
    background-color: #404ab3;
    color: #ffffff;
    border-right: 1px solid #ffffff;
  }
  .background-blue {
    background-color: #3f4892 !important;
  }
  .mo-table thead tr th:nth-last-child(1) {
    border-right: 0;
  }
  .mo-table tbody tr td {
    padding: 8px 0;
    text-align: center;
    vertical-align: middle;
  }
  .bt-white {
    border-top: 1px solid #ffffff;
  }
  .w-12 {
    width: 12.5%;
  }
  .w-20 {
    width: 20% !important;
  }
  .mo-unit {
    padding-top: 14px;
    color: #e9e9e9;
    font-size: 14px;
    line-height: 17px;
  }
  /* index08 */
  .sub-content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48.5px 0;
  }
  .sub-content-box > p {
    font-size: 16px;
    padding: 0;
    text-align: center;
  }
  .sub-content-box > p > span {
    display: inline;
  }
  .sub-content-box .img {
    margin: 24px auto 0;
    height: 193px;
    object-fit: contain;
  }
  .link-btn {
    padding: 8px 9px;
    font-size: 16px;
    gap: 10px;
    order: 3;
  }
}
@media (max-width: 670px) {
  .modal-content-alert {
    max-width: 337px;
    margin: auto;
  }
  .sub-content-box .img {
    width: 100%;
  }
}
